<div class="nav-header">
  <div class="header peach-gradient">
    <div class="header-icon">
      <img src="assets/flame64.png" alt="image">
    </div>
    <div class="header-title">
      Fire Catcher
    </div>
  </div>
</div>
<div class="body" *ngIf="status === '' || status === 'REJECTED'">
  <!-- some other nice spinner type: ball-clip-rotate-multiple -->
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="timer">
      <br><br><br><br><br>
      <p style="font-size: 24px; color: white">Escaneando, te avisaremos cuando se detecte un incendio...</p>
    </ngx-spinner>
</div>
<div class="body" *ngIf="status === 'IN_REVIEW' || status === 'CONFIRMED'">
  <div class="images">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <span class="helper"></span>
        <a href="{{images.previous.url}}" target="_blank">
          <img class="img" src="{{images.previous.url}}" />
          <div class="carousel-caption">
            <h3>{{images.previous.timestamp | date:'mediumTime'}}</h3>
            <p>Imagen Previa</p>
          </div>
        </a>
      </ng-template>
      <ng-template ngbSlide>
        <span class="helper"></span>
        <a href="{{images.current.url}}" target="_blank">
          <img class="img" src="{{images.current.url}}" alt="current_image">
          <div class="carousel-caption">
            <h3>{{images.current.timestamp | date:'mediumTime'}}</h3>
            <p>Imagen Actual</p>
          </div>
        </a>
      </ng-template>
      <ng-template ngbSlide>
        <span class="helper"></span>
        <a href="{{images.fire.url}}" target="_blank">
          <img class="img" src="{{images.fire.url}}" alt="fire_image">
          <div class="carousel-caption">
            <h3>{{images.fire.timestamp | date:'mediumTime'}}</h3>
            <p>Incendio Detectado</p>
          </div>
        </a>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="confirmation">
    <div class="warning-box">
      <div class="warning-time">
        Ahora: {{timestamp | date:'mediumTime'}}
      </div>
      <div class="warning-title">
        {{warningTitle}}
      </div>
      <div class="warning-confirm" *ngIf="status === 'IN_REVIEW'">
        <div style="width: 50%; float: left; text-align: center;">
          <button (click)="rejectAlarm()" type="button" mdbBtn color="grey" rounded="true"
            class="z-depth-1a waves-light" mdbWavesEffect>Rechazar</button>
        </div>
        <div style="width: 50%; margin-left: 50%; text-align: center;">
          <button (click)="acceptAlarm()" type="button" mdbBtn color="red" rounded="true" class="z-depth-1a waves-light"
            mdbWavesEffect>Alarma</button>
        </div>
      </div>
      <div class="warning-confirm" *ngIf="status === 'CONFIRMED'">
        <div style="text-align: center;">
          <button (click)="restore()" type="button" mdbBtn color="grey" rounded="true"
            class="z-depth-1a waves-light" mdbWavesEffect>Restablecer</button>
        </div>
      </div>
    </div>
  </div>
</div>